body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    color: #29363d;
}

section.main_section {
    margin-bottom: 300px;
}

section.sub_section {
    margin-top: 40px;
}

.oath_entry {
    margin-top: 3em;
    max-width: 600px;
}

p {
    line-height: 1.6em;
}

#greeting_container {}

#introduction_section {
    background-image: url("../img/banner_photo_1900.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    color: #f0f4f6 !important;
    font-size: 40px;
}

@media (max-width: 991px) {
    #introduction_section {
      background-image: url("../img/banner_photo_1000.jpg");
      
    }
  }

.back_color {
    background-color: #143344;
}

#main_greeting {
    font-family: 'Raleway', sans-serif;
}

#big_hello {
    margin: -5px;
    /*align with greeting below*/
}

#intro_slogan {
    line-height: 1;
    font-family: 'Raleway', sans-serif;


}

#mission_section {}

#mission_statement {
    border: 1px solid #c5cbce;
    background-color: #f3f7f8;
}

#skills_section {}

#skills_container {}

#experience_section {}

#contact_section {
    margin-bottom: 0;
    padding-top: 200px;
    padding-bottom: 110px;
}

#contact_section .section_heading {}

#contact_container {
    border: 1px solid #c5cbce;
    background-color: #f3f7f8;
    max-width: 800px;
}

#contact_container .invalid-feedback {}

#skills_section .sub_heading {
    margin-bottom: 0px
}

#experience_section .employer_logo {
    background-color: white;
    border: 1px solid #c5cbce;
    padding: 20px;
    max-width: 500px;
    width:100%;
    margin-top: 5px;
}

#experience_section .sub_section {
    margin-top: 120px;
}

#contact_section p {
    max-width: 100%;
}

.header_font {
    font-family: 'Raleway', sans-serif;
}

.header_color {
    color: #266080;
}

hr.custom_hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #f3f7f8, rgba(17, 55, 82, 0.75), #f3f7f8);
}

.job_tasks {
    margin: 1em 0;
    padding: 14px 16px 16px 16px;
    border: 1px solid #c5cbce;
    background-color: #f3f7f8;
    margin-bottom: 3em;
}

.job_tasks ul {
    list-style: none;
    padding-left: 16px;
    margin: 0;
}

.job_tasks ul li {
    margin-top: 1em;
    text-indent: -0.8em;
}

.job_tasks ul li:before {
    content: "•";
    color: #2d74b3;
    padding-right: 7px;
}

.job_tasks p {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;

}

.heading_accent {
    margin-left: 2px;
    margin-bottom: -5px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 4px;
    color: #7aa2b8;
}

.heading_accent_color {
    color: #7aa2b8;
}

.sub_heading {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.625rem;
}

.section_heading {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #266080;
}

.section_heading_light {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #f0f4f6;
}

.card_row {
    margin-top: 16px;
}

.light_text {
    color: #526b7a;
}

.light_text_intro {
    color: #c4d2db;
}

.card_heading {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

.card_image {
    border-radius: 5px;
    width: 40px;
    height: 50px;
    margin-bottom: 0.5rem;
}

.card_icon {
    border-radius: 5px;
    margin-bottom: 0.5rem;
    height: 50px;
    color: #2d74b3;
}

.card_icon img{
    height: 55px;
}

@media (max-width: 767px) {
    .card_icon {
      text-align: center;
    }
    .card_heading {
      text-align: center;
    }

    #introduction_section #greeting_container h1 {
        font-size: 60px;
    }
    #introduction_section #greeting_container h2 {
        font-size: 30px;
    }
    .section_heading {
        font-size: 3em;
    }
    #contact_section #contact_email {
        font-size: 0.75em;
    }

    #contact_section {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #contact_container {
        width: 100%;
        max-width: 100%;
        padding-bottom: 100px !important;
        padding-top: 100px !important;
        border: 0;
        border-top: 1px solid #c5cbce;
        background-color: #143344;
        color: #f0f4f6;
    }

    #experience_section {
        margin-bottom: 0;
    }

    #contact_container .section_heading{
        color: #83caf0;
    }

    #contact_container #contact_email span{
        color: #83caf0;
    }
    
  }

  @media (min-width: 992px) {
        #contact_section {
        background-image: url("../img/contact_overlay.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
    }

.blue_accent {
    color: #2d74b3;
}

.yellow_accent {
    color: #fffd6e;
}

.green_accent {
    color: #c6ff73;
}

#contact_submit_btn {
    margin-top: 1em;
    color: #f0f4f6;
    background-color: #2d74b3;
    border-color: #2d74b3;
}

.form-control::placeholder {
    color: #526b7a;
}

#northrop_img {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    background-image: url("../img/ng_office.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#omni_img {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    background-image: url("../img/omni_office.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#ucr_img {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    background-image: url("../img/ucr_campus.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

/* manually color black svg images (C++ logo) */
.filter-icon-color {
    filter: invert(39%) sepia(100%) saturate(408%) hue-rotate(166deg) brightness(86%) contrast(88%);
}

.font_slab {
    font-family: 'Roboto Slab', serif;
}

.font-size-120 {
    font-size: 120px;
}

.font-size-100 {
    font-size: 100px;
}

.font-size-80 {
    font-size: 80px;
}

.font-size-60 {
    font-size: 60px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-20 {
    font-size: 20px;
}