body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    color: #29363d;
}

section.main_section {
    margin-bottom:300px;
}

section.sub_section {
    margin-top:40px;
}

p {
    line-height: 1.6em;
    max-width: 700px;
}

#greeting_container {
    background-color: #143344;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  border: solid 1px #5c8397;
}

#introduction_section {
    background-image: url("../img/banner_photo_1900.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 900px; /*to fully display background image*/
    padding-top: 60px;
    color: #f0f4f6 !important;
    font-size: 40px;
}

.back_color {
    background-color: #143344;
}

#main_greeting {
    font-family: 'Sarabun', sans-serif;
    line-height: 1;
    margin-bottom: 0.5rem;
}

#big_hello {
    margin: -5px; /*align with greeting below*/
}

#intro_slogan {
    line-height: 1;
    margin-top: 100px;
    font-family: 'Sarabun', sans-serif;
}

#mission_section {
    background-image: url("../img/engineering_lab_overlay_shaped.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

#mission_statement {
    background-color: white;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

#skills_section {
    background-image: url("../img/code_overlay_shaped.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

#skills_container {
    background-color: white;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

#experience_section {

}

#contact_section {
    margin-bottom: 0;
    padding-top: 200px;
    padding-bottom: 110px;
    background-image: url("../img/teamwork_overlay.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

#contact_section .section_heading {
    /* color: #2d74b3; */
}

#contact_container {
    background-color: #143344;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
  /* border-radius: 5px; */
  color: #f0f4f6;
  border: solid 1px #5c8397;
}

#contact_container .invalid-feedback {
    color: #fffd6e;
}

#skills_section .sub_heading {
    margin-bottom: 0px
}

#experience_section .employer_logo {
    max-width: 90%;
}

#contact_section p {
    max-width: 100%;
}

.header_font {
    font-family: 'Sarabun', sans-serif;
}

.header_color {
    color: #266080;
}

hr.custom_hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #143344, rgba(130,186,225, 0.75), #143344);
}

.job_tasks {
margin: 1em 0;
padding: 14px 16px 16px 16px;
border: 1px solid #c5cbce;
background-color: #f3f7f8;
}

.job_tasks ul {
    list-style: none;
    padding-left: 16px;
    margin: 0;
}

.job_tasks ul li {
    margin-top: 0.5em;
    text-indent: -0.8em;
}

.job_tasks ul li:before {
    content: "•";
    color: #2d74b3;
    padding-right:7px;
}

.job_tasks p {
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Sarabun', sans-serif;
}

.heading_accent {
    margin-left: 2px;
    margin-bottom: -5px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 4px;
    color: #7aa2b8;
}

.heading_accent_color {
    color: #7aa2b8;
}

.sub_heading {
    font-family: 'Sarabun', sans-serif;
    font-weight: bold;
    font-size: 1.625rem;
}

.section_heading {
    font-family: 'Sarabun', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #266080;
}

.section_heading_light {
    font-family: 'Sarabun', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #f0f4f6;
}

.card_row {
    margin-top: 16px;
}

.light_text {
    color: #526b7a;
}

.light_text_intro {
    color: #c4d2db;
}

.card_heading {
    font-family: 'Sarabun', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    /* color: #333 !important; */
}

.card_image {
    border-radius: 5px;
    width: 40px;
    height: 50px;
    margin-bottom: 0.5rem;
}

.card_icon {
    border-radius: 5px;
    margin-bottom: 0.5rem;
    height: 50px;
    color: #2d74b3;
}

.blue_accent {
    color: #2d74b3;
}

.yellow_accent {
    color: #fffd6e;
}

.green_accent {
    color: #c6ff73;
}

#contact_submit_btn {
    margin-top: 1em;
    color: #f0f4f6;
    background-color: #2d74b3;
    border-color: #2d74b3;
}

.form-control::placeholder {
    color: #526b7a;
}

/* manually color black svg images (C++ logo) */
.filter-icon-color {
    filter: invert(39%) sepia(100%) saturate(408%) hue-rotate(166deg) brightness(86%) contrast(88%);
}

.font_slab {
    font-family: 'Roboto Slab', serif;
}

.font-size-120 {
    font-size: 120px;
}

.font-size-100 {
    font-size: 100px;
}

.font-size-80 {
    font-size: 80px;
}

.font-size-60 {
    font-size: 60px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-20 {
    font-size: 20px;
}